<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="http://localhost:8080/static/css/login/home.css">
<script type="text/javascript" src="http://localhost:8080/static/js/login/home.js"></script>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<div id="box" class="modal">
		<div id="box-content" class="modal-content">
				
			<div class="container" >
				<span style ="font-size: 25px;font-weight: 600;letter-spacing: 0.034em;line-height: 1.4;"> Login as  </span>

					<button onclick="login( 'creator' )">
						<strong> CREATOR </strong>
					</button>

              	<button onclick="login( 'participant' )">
              		<strong> PARTICIPANT </strong>
              	</button>

				<br><br>

				<span style ="font-size: 25px;font-weight: 600;letter-spacing: 0.034em;line-height: 1.4;"> New User </span>

				<a href="new_user/">
                    <button><strong>SIGNUP</strong></button>
				</a>

			</div>
		</div>
	</div>

</body>