<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/css/signin.css' %}">
<script type="text/javascript" src="{% static 'login/js/signin.js' %}"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div id="box" class="modal">
		<div id="box-content" class="modal-content">

      <div class="imgcontainer">

          {% load static %}
          <img src="{% static 'login/avatar.png' %}" alt="avatar" class="avatar">

      </div>

			<div class="container">

           		{% csrf_token %}
            	{{ form }}
      </div>

      <div>
        <button onclick="login()"><strong> Sign in </strong></button>
      </div>
      
      <br>
      
      <div><span style="font-size:18px" > New User </span>
        <a href="{% url 'login:signup' %}" style="font-size: 18px"> Create Account </a>
        <br><br>
        <a href="{% url 'login:recpass' %}" style="font-size: 18px"> Forgot Password </a>
      </div>
      
      </div>
    </div>
  </div>
  <p id="demo">naman</p>

  <script type="text/javascript">
    localStorage.setItem("user_type", "");
    document.GetElementById("demo").innerHTML = localStorage.getItem("user_type");
  </script>
</body>
