<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/css/signin.css' %}">
<script type="text/javascript" src="{% static 'login/js/signup.js' %}"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  
	<div id="box" class="modal">
		<div id="box-content" class="modal-content">

      <div class="imgcontainer">

          {% load static %}
          <img src="{% static 'login/avatar.png' %}" alt="avatar" class="avatar">  
      </div>

      <p id="msg"></p>
			
      <div class="container">

           		{% csrf_token %}
            	{{ form }}
      </div>
      <div>
        <button onclick="signup()"><strong> Sign up </strong></button>
      </div>  
    </div>
  </div>

</body>
