{% load static %}

<!DOCTYPE html>

<head>

<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<script type="text/javascript" src="{% static 'login/js/signin.js' %}"></script>

<body>
 <p id="name">JavaScript can change HTML content.</p>
  
	<form action="" method="post">
	<div id="form-box" class="modal">
		<div id="form-content" class="modal-content">

      <div class="imgcontainer">

          {% load static %}
          <img src="{% static 'login/avatar.png' %}" alt="avatar" class="avatar">  
      </div>

      
			<div class="container">

           		{% csrf_token %}
            	{{ form }}
      </div>
      <div>
        <button type="submit" style="font-size:22px"> Sign in </button>
      </div>
      
      <br>
      
      <div><span style="font-size:18px" > New User </span>
        <a href="{% url 'login:signup' %}" style="font-size: 18px"> Create Account </a>
        <br><br>
        <a href="{% url 'login:recpass' %}" style="font-size: 18px"> Forgot Password </a>
      </div>
      
      </div>
    </div>
  </div>
  </form>


</body>
