<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="http://localhost:8000/static/css/login/signin.css">
<script type="text/javascript" src="http://localhost:8000/static/js/login/signin.js"></script>
<script type="text/javascript" src="http://localhost:8000/static/js/login/auth.js"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="check()">

	<form>
		<div id="box-content" class="modal-content">

      <div class="imgcontainer">

          {% load static %}
          <img src="http://localhost:8000/static/images/common/avatar.png" alt="avatar" class="avatar">
      </div>

      <span style="font-size:18px; color:red; font-weight:bold;" > <div id = "msg" ></div></span>
			<div class="container">

           		{% csrf_token %}
            	{{ form }}
      </div>

      <div>
        <button id = "sbmt" onclick="login()"><strong> Sign in </strong></button>
      </div>

      <br>
      
      <div><span style="font-size:18px" > New User </span>
        <a href="{% url 'login:signup' %}" style="font-size: 20px"> Create Account </a>
        <br><br>
        <a href="{% url 'login:recpass' %}" style="font-size: 20px"> Forgot Password </a>
      </div>
      
      </div>
    </form>
  </div>
  
</body>
