<style>
	body {font-family: Arial, Helvetica, sans-serif;}
	
	button {
  	background-color: #4CAF50;
  	color: white;
    margin-top: 10px;
  	padding: 10px 20px;
  	border: none;
  	cursor: pointer;
 		width: 100%;
	}

	button:hover {
  	opacity: 0.8;
	}
	.modal {
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */ 
	}

	.modal-content {
  	background-color: #fefefe;
    margin-top: 15%;
    margin-left: 35%;
 		padding: 3% 3%;
  	border: 1px solid #888;
 		height: auto;
 		width: 20%;
 		border-radius: 10px;
	}

	.container label{
		font-size: 20px;
		font-weight:bold;
	}


</style>