<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="http://localhost:8000/static/css/common/dashboard.css">
<script type="text/javascript" src="http://localhost:8000/static/js/login/dashboard.js"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:lightgray">

	<div>
		<section class='topnav'>

			<a class="navbar_btn"> Home </a>
			<a class="navbar_btn" href="#"> Archive </a>
			<a class="navbar_btn" href="#"> Profile </a>
			<a class="Signout" onclick="signout()"> Signout </a>

		</section>
	</div>

		<div class="row">
			<div class="column">
				<div class="card">
  				<img src="#" alt="Avatar" style="width:80%">
  				
  				<div class="container">

  				</div>
				</div>
			</div>

		<div class="column">
		<div class="modal">
			<div class="modal-content">

			
				<div class="container">
						
				</div>
			</div>
		</div>
		</div>
	</div>


  
</body>
